POSTGRES_DB=pethijos
POSTGRES_USER=pethijos
POSTGRES_PASSWORD=pethijos123
DATABASE_URL=postgresql://pethijos:pethijos123@postgres:5432/pethijos
BACKEND_PORT=3001
FRONTEND_PORT=5174
JWT_SECRET=change_me
VAT_PERCENT=15

# Almacenamiento Backblaze B2
B2_KEY_ID=tu_key_id
B2_APPLICATION_KEY=tu_application_key
B2_BUCKET_NAME=nombre_del_bucket
B2_ENDPOINT=s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
